#page-content {
   position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    list-style-type: none;

}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 0;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #595959;
}

#menu li {
    float: left;
    font-size: 20px;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #000;
}
.logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    float: left;
}
.logo:hover {
    background-color: transparent;
}




